<div id="infoyou" class="span6">
	<div class="breadcrumb">
    <div class="span5">
    	<h1>Igor Milla</h1>
      <p>
          I'm full stack software web developer from Barcelona. <br/>
          And this page is my attempt to put together all the things that may describe me to the outer world. 
      </p>
    </div>
    
    <div class="clearfix"></div>
  </div>
</div><!--/infoyou-->