<div id="infoyou" class="span6">
	<div class="breadcrumb">
    	<div class="span1">
    		<img src="http://www.gravatar.com/avatar/82d5e57ef467c427d8a6a8365cdfeef9?s=128&d=identicon&r=PG" class="">
			</div>
        <div class="span4">
        	<h1>Igor Milla</h1>
        </div>

        <div class="span4">
        	<div class="btn-toolbar">
          	<div class="btn-group pull-right">
        			<a href="mailto:im@igormilla.com" class="btn btn-large tooltip-test" data-original-title="im@igormilla.com"><i class="icon-envelope"></i></a>
        			<a href="skype:igor.milla" class="btn btn-large tooltip-test" data-original-title="igor.milla"><i class="icon-skype"></i> </a>
          	</div>		
          </div>
        </div>
        
        <div class="span5">
            <p>
                Web developer from Barcelona.
            </p>
        </div>
        
        <div class="clearfix"></div>
    </div>
</div><!--/infoyou-->