<div id="infoyou" class="span6">
	<div class="breadcrumb">
    <div class="span5" itemscope itemtype="http://data-vocabulary.org/Person">
    	<h1 itemprop="name">Igor Milla</h1>
      <p>
      I'm <span itemprop="role">full stack software web developer</span> from 
      <span itemprop="location" itemscope itemtype="http://data-vocabulary.org/Address">
        <span itemprop="locality">Barcelona</span>, <span itemprop="country-name">Spain</span>.
      </span> <br/>
          And this page is my attempt to put together all the things that may describe me to the outer world. 
      </p>
    </div>
    
    <div class="clearfix"></div>
  </div>
</div>
