<div class="row">
    <div class="span6">
        <div id="work-experience" class="breadcrumb">
            <legend>Programming communities</legend>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>Project Euler</strong>
                        <br>
                        <p align="justify">
                        A series of challenging mathematical/computer programming 
                        problems that will require more than just mathematical insights to solve.
												</p>
												<ul class="inline">
	                   			<li><a href="http://projecteuler.net" target="_blank">projecteuler.net</a></li>
	                   			<li><a href="http://projecteuler.net/profile/igormilla.png" target="_blank">progress badge</a></li>
	                   		</ul>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <br/>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                         <strong>Enigma Group</strong>
                        <br>
                        <p align="justify">Since 2004, has provided its members a legal and safe security 
                        resource where they can develop their pen-testing skills 
                        on various training missions that cover exploits listed in the OWASP Top 10 Project.</p>
                        <ul class="inline">
	                   			<li><a href="http://enigmagroup.org" target="_blank">enigmagroup.org</a></li>
	                   			<li><a href="http://www.enigmagroup.org/forums/index.php?action=profile;u=49877" target="_blank">my profile</a></li> 
	                   		</ul>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
						<br/>
						
            <div class="clearfix"></div>
            
        </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->