<div class="row">
    <div class="span6">
        <div id="education" class="breadcrumb">
            <legend><h2>Education</h2></legend>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <span class="label label-info">MIT - Institute of Technology</span> <span class="label label-inverse">2004</span>
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip.
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <hr>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <span class="label label-info">Stanford University</span> <span class="label label-inverse">2004</span>
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip.
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
						<br/>
            <a class="hidden-desktop pull-right" onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>
            <div class="clearfix"></div>
            
        </div><!--/breadcrumb-->
		</div><!--/span6-->
</div><!--/row-->