<div class="row">
	<div class="span6">
	    <div id="skills" class="breadcrumb">
	        <legend>Languages</legend>
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-success">Ukrainian</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-success">
	                        <div class="bar" style="width: 98%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-success">Russian</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-success">
	                        <div class="bar" style="width: 95%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-success">English</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-success">
	                        <div class="bar" style="width: 65%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-important">Spanish</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-danger">
	                        <div class="bar" style="width: 27%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
					
					<hr>
					
          <div class="row">
              <div class="span6">
                  <div class="span5">
                      I learn at <strong>Duolingo</strong>, (since 2013)
                      <br>
                      <p align="justify">
                       Free service that helps you learn languages with your friends while 
                       simultaneously contributing to translate real-world content from the Web.
											</p>
											<ul class="inline">
                   			<li><a href="http://duolingo.com/" target="_blank">duolingo.com</a></li>
                   			<li><a href="http://duolingo.com/#/solarprominence" target="_blank">my profile</a></li> 
                   		</ul>
                  </div><!--/span5-->
              </div><!--/span6-->
          </div><!--/row-->
					
	        
	        <div class="clearfix"></div>
	    </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->