<div class="row">
    <div class="span6">
        <div id="miss-winter" class="breadcrumb">
          	<legend>Aknowledgments</legend>
          	<p>
          		I'd like to thank miss Winter, who pushed me to code this page.
          	</p>
            <div class="clearfix"></div>
        </div>
	</div><!--/span6-->
</div><!--/row-->