<div class="row">
    <div class="span6">
        <div id="work-experience" class="breadcrumb">
            <legend>Nonprofit organizations I support</legend>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>Greenpeace</strong>, (since 2012)
                        <br>
                        <p align="justify">
	                        <em>An independent global campaigning organisation that 
	                        acts to change attitudes and behaviour, 
	                        to protect and conserve the environment and to promote peace.</em>
												</p>
											  <ul class="inline">
                       		<li><a href="http://www.greenpeace.org/" target="_blank">greenpeace.org</a></li>
                       		<li><a href="http://www.greenpeace.org/international/en/supportus/" target="_blank">donate</a></li> 
                       		<li><a href="http://www.greenpeace.org/international/en/getinvolved/" target="_blank">get involved</a></li>
                       	</ul> 
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <br/>   
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>UNHCR</strong>, (since 2012)
                        <br>
                        <p align="justify">
                        	<em>The Office of the United Nations High Commissioner for Refugees. The agency is mandated to lead and co-ordinate international 
                        	action to protect refugees and resolve refugee problems worldwide. </em>
												</p>
												<ul class="inline">
                       		<li><a href="http://www.unhcr.org/" target="_blank">unhcr.org</a></li>
                       		<li><a href="http://donate.unhcr.org/" target="_blank">donate</a></li> 
                       		<li><a href="http://www.unhcr.org/pages/49c3646c344.html" target="_blank">get involved</a></li>
                       	</ul>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <br/>
            
            <div class="row">
                <div class="span6">
                    <div class="span5">
	                    <strong>Wikipedia</strong>, (since 2010)
	                    <br>
	                    <p>
				          			 <em>A multilingual, web-based, free-content encyclopedia project operated by the Wikimedia Foundation 
				          			 and based on an openly editable model.</em>
					          	</p>
					          	<ul class="inline">
                       		<li><a href="http://www.wikipedia.org/" target="_blank">wikipedia.org</a></li>
                       		<li><a href="http://donate.wikimedia.org/" target="_blank">donate</a></li> 
                       		<li><a href="http://en.wikipedia.org/wiki/Wikipedia:Introduction" target="_blank">get involved</a></li>
                       </ul>
					          	<p>Also I do participate as author. Below article/s I wrote:</p> 
					          	<ul>
					          		<li> <a href="http://uk.wikipedia.org/wiki/Дуглас_Коупленд" target="_blank">Douglas Coupland</a> <small>(2010, Ukrainian)</small> </li>
					          	</ul>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
						<br/>
            
            <div class="clearfix"></div>
        </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->