<div class="row">
    <div class="span6">
        <div id="work-experience" class="breadcrumb">
            <legend>Open source projects I contributed</legend>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>jQuery UI</strong>
                        <br>
                        <p align="justify">
                       A curated set of user interface interactions, effects, widgets, 
                       and themes built on top of the jQuery JavaScript Library.
												</p>
												<ul class="inline">
	                   			<li><a href="http://jqueryui.com" target="_blank">jqueryui.com</a></li>
	                   			<li><a href="https://github.com/jquery/jquery-ui/blob/master/AUTHORS.txt" target="_blank">AUTHORS.txt</a></li>
	                   		</ul>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
        
						<br/>
						
            <div class="clearfix"></div>
            
        </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->