<div class="row">
	<div class="span6">
  	<div id="portifolio" style="padding-left:13px">
    	
    	<div class="row">
      	<div class="span6">
        	<div id="gallery">
           	<img src="http://rndpic.appspot.com/img/106868180489030580118?size=400u" width="100%" style="margin-left:-10px;">
					</div>
        </div><!--/span6-->
      </div><!--/row-->

      <a class="hidden-desktop pull-right" onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>
      <div class="clearfix"></div>
      
    </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->