<div class="row">
	<div class="span6">
  	<div id="portifolio" class="breadcrumb" style="padding-left:13px">
       	<img src="http://rndpic.appspot.com/img/106868180489030580118?size=400u" width="100%">
      	<div class="clearfix"></div>
    </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->