<div class="row">
	<div class="span6">
	    <div id="skills" class="breadcrumb">
	        <legend>Skills</legend>
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-success">Java</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-success">
	                        <div class="bar" style="width: 88%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-success">HTML</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-success">
	                        <div class="bar" style="width: 93%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-success">Javascript</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-success">
	                        <div class="bar" style="width: 82%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-success">Flash</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-success">
	                        <div class="bar" style="width: 75%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-warning">CSS/LESS</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-warning">
	                        <div class="bar" style="width: 58%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        <div class="row">
	            <div class="span6">
	                <div class="span1">
	                    <span class="label label-important">PHP</span>
	                </div><!--/span1-->
	                <div class="span4">
	                    <div class="progress progress-danger">
	                        <div class="bar" style="width: 38%"></div>
	                    </div><!--/progress bar-->
	                </div><!--/span4-->
	            </div><!--/span6-->
	        </div><!--/row-->
	        
	        <a class="hidden-desktop pull-right" onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>
	        <div class="clearfix"></div>
	        
	    </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->