<div id="QuickContact" class="span6 pagination-centered">
		<div class="breadcrumb">
				<a href="mailto:im@igormilla.com" class="tooltip-test" data-original-title="email">
        	<img src="img/email.png" width="32">
        </a>
        <a href="skype:igor.milla" class="tooltip-test" data-original-title="skype">
        	<img src="img/skype.png" width="32">
        </a>
    		<a href="http://www.facebook.com/igor.milla" class="tooltip-test" data-original-title="Facebook">
        	<img src="img/facebook.png" width="32">
        </a>
        <a href="https://twitter.com/igormilla" class="tooltip-test" data-original-title="Twitter">
        	<img src="img/twitter.png" width="32">
				</a>
        <a href="https://plus.google.com/106868180489030580118" class="tooltip-test" data-original-title="Google">
        	<img src="img/google.png" width="32">
        </a>
        <a href="http://www.linkedin.com/in/igormilla" class="tooltip-test" data-original-title="LinkedIn">
        	<img src="img/linkedin.png" width="32">
        </a>
        <a href="#" class="tooltip-test" data-original-title="Flickr">
        	<img src="img/flickr.png" width="32">
        </a>
        <a href="http://igormilla.tumblr.com" class="tooltip-test" data-original-title="Tumblr">
        	<img src="img/tumblr.png" width="32">
        </a>
        <a href="http://www.youtube.com/user/fspashen" class="tooltip-test" data-original-title="Youtube">
        	<img src="img/youtube.png" width="32">
        </a>
        <a href="http://careers.stackoverflow.com/users/info/55531" class="tooltip-test" data-original-title="Careers CV">
        	<img src="img/careers.png" width="32">
        </a>
        <a href="http://stackoverflow.com/users/461989/igor-milla" class="tooltip-test" data-original-title="Stack Overflow">
        	<img src="img/stackoverflow.png" width="32">
        </a>
        <a href="https://github.com/solarprominence" class="tooltip-test" data-original-title="GitHub">
        	<img src="img/github.png" width="32">
        </a>
        <a href="http://uk.wikipedia.org/wiki/Спеціальна:Внесок/IgorMilla" class="tooltip-test" data-original-title="Wikipedia">
        	<img src="img/wikipedia.png" width="32"/>
        </a>
    </div>
</div><!--/quickcontact-->
