<div id="QuickContact" class="span6 pagination-centered">
		<div class="breadcrumb">
				<a href="mailto:im@igormilla.com" class="tooltip-test" data-original-title="email" target="_blank">
        	<img src="img/social/email.png" width="32">
        </a>
        <a href="skype:igor.milla" class="tooltip-test" data-original-title="skype" target="_blank">
        	<img src="img/social/skype.png" width="32">
        </a>
    		<a href="http://www.facebook.com/igor.milla" class="tooltip-test" data-original-title="Facebook" target="_blank">
        	<img src="img/social/facebook.png" width="32">
        </a>
        <a href="https://twitter.com/igormilla" class="tooltip-test" data-original-title="Twitter" target="_blank">
        	<img src="img/social/twitter.png" width="32">
				</a>
        <a href="https://plus.google.com/106868180489030580118" class="tooltip-test" data-original-title="Google" target="_blank">
        	<img src="img/social/google.png" width="32">
        </a>
        <a href="http://www.linkedin.com/in/igormilla" class="tooltip-test" data-original-title="LinkedIn" target="_blank">
        	<img src="img/social/linkedin.png" width="32">
        </a>
        <a href="http://igormilla.tumblr.com" class="tooltip-test" data-original-title="Tumblr" target="_blank">
        	<img src="img/social/tumblr.png" width="32">
        </a>
        <a href="http://www.youtube.com/user/fspashen" class="tooltip-test" data-original-title="Youtube" target="_blank">
        	<img src="img/social/youtube.png" width="32">
        </a>
        <a href="http://careers.stackoverflow.com/users/info/55531" class="tooltip-test" data-original-title="Careers CV" target="_blank">
        	<img src="img/social/careers.png" width="32">
        </a>
        <a href="http://stackoverflow.com/users/461989/igor-milla" class="tooltip-test" data-original-title="Stack Overflow" target="_blank">
        	<img src="img/social/stackoverflow.png" width="32">
        </a>
        <a href="https://github.com/igormilla" class="tooltip-test" data-original-title="GitHub" target="_blank">
        	<img src="img/social/github.png" width="32">
        </a>
        <a href="http://uk.wikipedia.org/wiki/Спеціальна:Внесок/IgorMilla" class="tooltip-test" data-original-title="Wikipedia" target="_blank">
        	<img src="img/social/wikipedia.png" width="32"/>
        </a>
        <a href="http://eu.battle.net/sc2/en/profile/2747414/1/FSP/" class="tooltip-test" data-original-title="For the Swarm!!!" target="_blank">
        	<img src="img/social/zerg.png" width="32"/>
        </a>
        <a href="http://www.amazon.com/registry/wishlist/H17C9G45VXDT/ref=cm_sw_r_tw_ws_spd8sb1PBA3FV" class="tooltip-test" data-original-title="My Wishlist" target="_blank">
        	<img src="img/social/amazon.png" width="32"/>
        </a>
    </div>
</div><!--/quickcontact-->
