<div class="row">
    <div class="span6">
			<div id="technologies" class="breadcrumb">
				<legend>Used technologies</legend>
						 
						<div class="row">
							<div class="span6">
								<a href="http://www.w3.org/html/logo/">
									<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
								</a>

								<a href="http://nodejs.org">
									<img src="http://nodejs.org/images/logos/nodejs.png" width="165" alt="Node.js"/>
								</a>
								
								<a href="http://jquery.com" style="padding:10px">
									<img src="img/technologies/jquery.jpeg" width="120">
								</a>
								
								<a href="http://twitter.github.com/bootstrap/">
									<img src="img/technologies/bootstrap.png" width="60">
								</a>

							</div>
						</div>
						
            <div class="clearfix"></div>
        </div>
	</div><!--/span6-->
</div><!--/row-->