<div class="row">
    <div class="span6">
        <div id="wikipedia" class="breadcrumb">
          	<legend>Wikipedia</legend>
          	<p>
          		Since 2011 I donate few $ to the Wikipedia foundation, and think everyone should do that to (here is a page where you too can make our world a better place &#151; <a href="https://donate.wikimedia.org/" target="_blank">donate.wikimedia.org</a>).
          	</p>
          	<p>Also I do participate as author. Below article/s I wrote:</p> 
          	<ul>
          		<li> <a href="http://uk.wikipedia.org/wiki/Дуглас_Коупленд" target="_blank">Douglas Coupland</a> <small>(Ukrainian)</small> </li>
          	</ul>
            <div class="clearfix"></div>
        </div>
	</div><!--/span6-->
</div><!--/row-->