<div class="row">
    <div class="span6">
        <div id="wikipedia" class="breadcrumb">
          	<legend>Wikipedia</legend>
          	<p>
          		Lorem ipsum
          	</p>
          	<ul>
          		<li> <a href="http://uk.wikipedia.org/wiki/Дуглас_Коупленд" target="_blank">Douglas Coupland</a> <small>(Ukrainian)</small> </li>
          	</ul>
            <div class="clearfix"></div>
        </div>
	</div><!--/span6-->
</div><!--/row-->