<div class="row">
    <div class="span6">
        <div id="work-experience" class="breadcrumb">
            <legend><h2>Work experience</h2></legend>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <span class="label label-info">Friend2Friend, Full-time</span>
                        <a class="tooltip-test" data-original-title="Current work">
                            <img src="img/current.png" width="32">
                        </a>
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip.
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <hr>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <span class="label label-info"> Amuso Labs, Full-time</span>
                        <br><br>
                       	1 year in a small startup where I learned a lot about real programming big projects in a team. 
                       	I was mostly a flash developer, and worked on the online multiplayer games, with social aspects. 
                       	With occasional touching of the php code, and things like html and css. <br/> 
												The best thing there was to work next to the senior developers who had somewhere around 10 years of experience in the field, 
												and being happy to have them as my teachers. 
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
						<br/>
            <a class="hidden-desktop pull-right" onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>
            <div class="clearfix"></div>
            
        </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->