<div class="row">
    <div class="span6">
        <div id="work-experience" class="breadcrumb">
            <legend>Work experience</legend>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>Friend2Friend</strong>, (2010 &#151; present)
                        <br>
                        <p align="justify">
                        A place where I found myself as a Java developer, and dive in the world of the coding of the complex systems. 
                        Here I'm learning to be a better developer, truly understand all glory of the OOP, the importance of writing scalable 
                         and reusable code.<br/>
                        Apart from being full time Java developer, I also do all stack web development: DB(MySQL), JS, HTML, CSS(when my web designer doesn't see it), from time to time, I still do code in flash. 
												</p>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <br/>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                         <strong>Amuso Labs</strong>, (2009 &#151; 2010)
                        <br>
                        <p align="justify">1 year in a small startup where I learned a lot about real programming big projects in a team. 
                       	I was mostly a flash developer, and worked on the online multiplayer games, with social aspects. 
                       	With occasional touching of the php code, and things like html and css. <br/> 
												The best thing there was to work next to the senior developers who had somewhere around 10 years of experience in the field, 
												and being happy to have them as my teachers. </p>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
						<br/>
						
            <a class="hidden-desktop pull-right" onClick="$('html,body').animate({scrollTop: $('#infoyou').offset().top}, 1500);"><i class="icon-circle-arrow-up" style="cursor:pointer;"></i></a>
            <div class="clearfix"></div>
            
        </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->