<div class="row">
    <div class="span6">
        <div id="work-experience" class="breadcrumb">
            <legend>Writing</legend>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>NaNoWriMo</strong>, <em>participant</em> (2012, 2013)
                        <br>
                        <p align="justify">
                       	Place where I'm trying to challenge myself in writing a book.
												</p>
												<ul class="inline">
	                   			<li><a href="http://www.nanowrimo.org" target="_blank">nanowrimo.org</a></li>
	                   			<li><a href="http://www.nanowrimo.org/en/participants/igormilla" target="_blank">my profile</a></li> 
	                   		</ul>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <br/>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>Gothica magazine</strong>, <em>editor, journalist</em> (2006 &#151; 2007)
                        <br>
                        <p align="justify">
                       	I was the part of initial team, who created the first printed magazine dedicated to the
                       	Ukrainian gothic culture.
												</p>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <br/>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                        <strong>UGP Literature</strong>, <em>editor, comunity manager</em> (2005 &#151; 2007)
                        <br>
                        <p align="justify">
                       	For several years I was an editor in the young, not professional, writers community.
                       	I met there few good friends and was involved in publishing a book which contained novels 
                       	of site members. 
												</p>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
            <br/>
            <div class="row">
                <div class="span6">
                    <div class="span5">
                         <strong>Ash</strong>, <em>chief editor</em> (2004 &#151; 2007)
                        <br>
                        <p align="justify">
                        The literature newsletter created by me in my early college years. 
                        It was a place where I met young writers, share my own works, and read others.
                        In best times it had around 600 subscribers. <br/><small>Newsletter is closed.</small>
                        </p>
                    </div><!--/span5-->
                </div><!--/span6-->
            </div><!--/row-->
						<br/>
						
            <div class="clearfix"></div>
            
        </div><!--/breadcrumb-->
	</div><!--/span6-->
</div><!--/row-->
