@import url("http://fonts.googleapis.com/css?family=Dancing+Script");
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  padding: 50px;
  background: url("../img/3.png") repeat scroll 0 0 transparent;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#portifolio{
  padding:0 0 15px 0;
  background: transparent;
}

h1 {
  font-family: 'Dancing Script', Georgia, Times, serif;
  font-size: 59px;
  line-height: 60px;
}
p {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-top: 15px;
}
