<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Lonely people</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script type='text/javascript' src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type='text/javascript' src='//www.google.com/jsapi'></script>
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/gm-style.js'></script>
    <script type='text/javascript' src="/js/gm-marker-clusterer.js"></script>
    <script type='text/javascript' src="/js/gm-marker-spredifier.js"></script>
    <script type='text/javascript' src='/js/moment.js'></script>
    <script type='text/javascript' src='/js/jquery.linkify.min.js'></script>
    <script>
      var data = {{- JSON.stringify(tweets)}}
    </script>
    <script type='text/javascript' src='js/lonelyPeople.js'></script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
