<DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script src="/js/gm-marker-clusterer.js"></script>
    <script>
      function initialize() {
        var myLatlng = new google.maps.LatLng(48.5091823, 30.5670165);
        var mapOptions = {
          zoom: 4,
          center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var data =  {{- JSON.stringify(tweets)}};
        var infoWindow = null;
        var markers = [];
        for (var i = 0; i < data.length; ++i) {
          var latlng = new google.maps.LatLng(data[i][0], data[i][1]);
          var marker = new google.maps.Marker({
            position : latlng,
            map : map,
            title : data[i][2]
          });
	  infoWindow = new google.maps.InfoWindow();
          google.maps.event.addListener(marker, 'click', function(e){
            infoWindow.setContent(this.getTitle());
            infoWindow.open(map, this);
          });
          markers.push(marker);
        }
        var markerCluster = new MarkerClusterer(map, markers,{
		gridSize 	: 40,
		zoomOnClick	: true,
		avarageCenter	: false,
		maxZoom		: 13
	});      
     }

     google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>

