<div class="row-fluid">
	<div class="span2">
		<a href="{{- url }}" target="_blank">
			<img src="{{- img }}" class="img-circle" style="padding:5px 0 5px 0"/>
		</a>
	</div>
	<div class="span10">
		<p>
			<span class="lead">{{- track}} &#151; {{- artist}}</span><br/>
			<small id="utc-time">{{- date}} </small>
		</p>
	</div>
</div>
